body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  height: 100vh;
  position: relative;
  overflow: hidden;
}
body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url("img/suchi.jpg") no-repeat center center/cover;

  filter: blur(3px);   /* desenfoque */
  z-index: -1;         /* para que quede detrás del contenido */
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #E3E3DC;
    border-radius: 15px;


}
.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;

}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;

}

form .usuario{
    position: relative;
    margin: 30px 0;

}

.usuario input 
{
    width: 100%;
    padding: 10px 5px;   /* espacio interno */
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #adadad; /* la línea aquí */
    background: none;
    outline: none;
    box-sizing: border-box;
}


.usuario label{
    position: absolute;
    top:10%;
    left: 5%;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;

}

.usuario span::before{
   transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 15px;

}

.usuario input:focus ~ label,
.usuario input:valid ~ label{
    top: -5px;
    color: #6c3343;
    transition: top 0.3s ease,color 0.3s ease;
}

.usuario input:focus ~ span::before,
.usuario input:focus ~ span::before{
    width: 100%;
}

.recordar{
    margin: -5px 0 20px 5px;
    color: blue;
    cursor: pointer;

}

.recordar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50%;
    border: 1px solid;
    background: #E95646;
    border-radius: 20px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    outline: none;

}

input[type="submit"]:hover{
    border-color: purple;
    transition: .5s;

}
.registrar{
    margin: 30px 0;
    text-align: center;
   font-size: 16px;
   color: black;

}

.registrar a{
    color: blue;
    text-decoration: none;
}

.registrar a:hover{
    text-decoration: underline;
}