<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maki Roll</title>
    <link rel="shortcut icon" href="/Vistas_de_inicio/img/restaurante.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/Vistas_de_inicio/css/normalize.css">
    <link rel="stylesheet" href="/Vistas_de_inicio/css/MY.css">
</head>
<body>
          
<!-- Botón para abrir/cerrar -->
<label for="menu-toggle" class="menu-btn">&#9776;</label>
<input type="checkbox" id="menu-toggle">

<!-- Menú lateral -->
<div class="menu">
  <a id="inicio">Inicio</a>
  <a id="menu_pedidos">Menú</a>
  <a id="ruleta">Ruleta de premios</a>
</div>


 <!-- El texto de arriba -->
  <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">Maki Roll </h2>
            </div>
 <!-- Es lo de la derecha  -->
            <ul class="nav__link nav__link--menu">
                <li class="nav__items">
                    <a href="#" class="nav__links">Soporte-811-655-72-49</a>
                </li>
                
                <!-- 🔹 Menú del usuario -->
        <li class="nav__items user-menu">
          <a href="#" class="nav__links">Usuario ▾</a>
          <div class="user-dropdown">
            <a href="#" id="logoutBtn">Cerrar sesión</a>
          </div>
        </li>
      </ul>
    </nav>


            </div>
        </nav>
 <!-- Lo que esta debajo en medio-->
        <section class="hero__container container">
            <h1 class="hero__title">Maki roll</h1>
            <p class="hero__paragraph">“Sabor fresco, alma japonesa.”</p>

                        </section>


            </div>
        </nav>

    </header>
    <script src="js/cliente.js"></script>
</body>
</html>