<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>MakiRoll | Estadísticas</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/graficas_ventas.css') }}">
</head>
<body>
    <!-- Botón para abrir/cerrar -->
  <label for="menu-toggle" class="menu-btn">&#9776;</label>
  <input type="checkbox" id="menu-toggle">

  <!-- Menú lateral -->
<div class="menu">
  <a id="inicio">Inicio</a>
  <a id="ventas">ventas</a>
  <a id="menuEdt">Menu Edt</a>
  <a id="pedidos">Pedidos Reg</a>
  <a id="ruletaPremios">Ruleta de premios</a>
  <a id="ruletaConfig">Ruleta config</a>
</div>

  <header>
    <h1>MakiRoll</h1>
    <p>Panel de Estadísticas de Ventas y Pedidos</p>
  </header>

  <main class="contenedor">
    <section class="resumen">
      <div class="tarjeta">
        <h3>Entradas</h3>
        <p id="textoEntradas">0 de 1000</p>
        <div class="barra"><div class="relleno" id="barraEntradas"></div></div>
      </div>

      <div class="tarjeta">
        <h3>Bebidas</h3>
        <p id="textoBebidas">0 de 1000</p>
        <div class="barra"><div class="relleno" id="barraBebidas"></div></div>
      </div>

      <div class="tarjeta">
        <h3>Ramen</h3>
        <p id="textoRamen">0 de 1000</p>
        <div class="barra"><div class="relleno" id="barraRamen"></div></div>
      </div>

      <div class="tarjeta">
        <h3>Arroz</h3>
        <p id="textoArroz">0 de 1000</p>
        <div class="barra"><div class="relleno" id="barraArroz"></div></div>
      </div>

      <div class="tarjeta">
        <h3>Sushi</h3>
        <p id="textoSushi">0 de 1000</p>
        <div class="barra"><div class="relleno" id="barraSushi"></div></div>
      </div>

      <div class="tarjeta">
        <h3>Postres</h3>
        <p id="textoPostres">0 de 1000</p>
        <div class="barra"><div class="relleno" id="barraPostres"></div></div>
      </div>
    </section>

    <section class="pedidos-ventas">
      <h2>Pedidos y Ventas</h2>
      <div class="contador">
        <div class="dato">
          <h3>Pedidos Totales</h3>
          <p id="totalPedidos">0</p>
        </div>
        <div class="dato">
          <h3>Ventas Totales</h3>
          <p id="totalVentas">$0</p>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <p>© 2025 MakiRoll | Restaurante Japonés</p>
  </footer>

  <script src="{{ url_for('static', filename='js/graficas_ventas.js') }}"></script>
  <script src="{{ url_for('static', filename='js/gestion_roles.js') }}"></script>

</body>
</html>
