<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maki Rolly - Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">

</head>
<body>
    <div class="formulario"> 
        <h1>Registrar</h1>  
        <form id="registroForm">
            <div class="usuario">
                <input type="text" id="usuario" required>
                <label>Nombre de usuario</label>
            </div>
            <div class="usuario">
                <input type="text" id="correo" required>
                <label>Correo</label>
            </div>
            <div class="usuario">
                <input type="password" id="contraseña" required>
                <label>Contraseña</label>
            </div>
            
            <input type="submit" value="Registrar">

            <div class="registrar">
                ¿Ya tienes cuenta? 
                <a href="#" id="volverLogin">Iniciar sesión</a>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/funcioness.js') }}"></script>
</body>
</html>
